
.footer {
  background: #011742;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 18px;
  padding-top: 123px;
}

.footer__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: white;
}

.footer__menu__element {
  margin-right: 7%;
}

.footer__menu__element__title {
  font-family: Montserrat-Bold, serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer__menu__element__title.other {
  text-decoration-line: none;
}

.footer__menu__element__title.other a {
  color: #FFF;
}

.footer__menu__element__title.other a:hover {
  color: #0056b3;
}

.footer__menu__element__navigation {
  display: flex;
  flex-flow: column nowrap;
}

.footer__menu__element__navigation__link {
  color: #fff;
  font-size: 16px;
  line-height: 29px;
  text-decoration-line: none;
  font-family: Lato-Regular, serif;
}

.footer__menu__element__media {
  margin-bottom: 50px;
}

.footer__menu__element__media__link {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.footer__menu__element__info__link img {
  margin-right: 13px;
}

.footer__menu__element__info__link a {
  color: #FFF;
  font-size: 16px;
  line-height: 37px;
  font-family: Lato-Regular, serif;
}

.footer__menu__element__info__link:first-child a {
  text-decoration: none;
}

.footer__menu__element.info {
  margin-right: 0;
  order: -1;
}

@media screen and (max-width: 1199px) {
  .footer__menu__element.info {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer__menu__element.info {
    flex-direction: column;
    width: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer__menu__element.others {
    margin-right: 0;
    margin-top: 50px;
    order: 1;
  }
}

@media screen and (max-width: 767px) and (max-width: 455px) {
  .footer__menu__element.others {
    order: 0;
  }
}

@media screen and (max-width: 455px) {
  .footer__menu__element {
    margin-right: 0;
    margin-top: 50px;
  }

  .footer__menu__element:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 455px) {
  .footer__menu {
    flex-direction: column;
  }
}

.footer__captcha {
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #5ABCF5;
}

.footer__line {
  margin-bottom: 23px;
  margin-top: 23px;
  height: 0;
  border: 1px solid #30B4FF;
  opacity: 0.2;
}

@media screen and (max-width: 400px) {
  .footer__captcha {
    font-size: 12px;
  }
}
