<footer class="footer">
  <div class="container">
    <div class="footer__menu">
      <div class="footer__menu__element services">
        <h3 class="footer__menu__element__title">Services</h3>
        <nav class="footer__menu__element__navigation">
          <a href="#" class="footer__menu__element__navigation__link">Mobile app development</a>
          <a href="#" class="footer__menu__element__navigation__link">Web app development</a>
          <a href="#" class="footer__menu__element__navigation__link">Quality Assurance and Testing</a>
          <a href="#" class="footer__menu__element__navigation__link">Cloud Development</a>
          <a href="#" class="footer__menu__element__navigation__link">UX/UI Design</a>
          <a href="#" class="footer__menu__element__navigation__link">Prototyping / MVP</a>
          <a href="#" class="footer__menu__element__navigation__link">IT audit & consulting</a>
        </nav>
      </div>
      <div class="footer__menu__element industries">
        <h3 class="footer__menu__element__title">Industries</h3>
        <nav class="footer__menu__element__navigation">
          <a href="#" class="footer__menu__element__navigation__link">Retail</a>
          <a href="#" class="footer__menu__element__navigation__link">Automotive</a>
          <a href="#" class="footer__menu__element__navigation__link">Distribution</a>
          <a href="#" class="footer__menu__element__navigation__link">Financial Services</a>
          <a href="#" class="footer__menu__element__navigation__link">Insurance</a>
          <a href="#" class="footer__menu__element__navigation__link">Logistics</a>
        </nav>
      </div>
      <div class="footer__menu__element others">
        <h3 class="footer__menu__element__title other"><a href="#">Technologies</a></h3>
        <h3 class="footer__menu__element__title other"><a href="#">Portfolio</a></h3>
        <h3 class="footer__menu__element__title other"><a href="#">Career</a></h3>
      </div>
      <div class="footer__menu__element info">
        <div>
          <h3 class="footer__menu__element__title">Social Media</h3>
          <div class="footer__menu__element__media">
            <a href="#" class="footer__menu__element__media__link"><img src="../src/assets/img/instagram.png" alt="instagram"></a>
            <a href="#" class="footer__menu__element__media__link"><img src="../src/assets/img/facebook.png" alt="facebook"></a>
            <a href="#" class="footer__menu__element__media__link"><img src="../src/assets/img/linkedin.png" alt="linkedin"></a>
          </div>
        </div>
        <div>
          <h3 class="footer__menu__element__title">Contact information</h3>
          <div class="footer__menu__element__info">
            <div class="footer__menu__element__info__link">
              <img src="../src/assets/img/mail.png" alt="mail">
              <a href="mailto:contact@crystalogic.net">contact@crystalogic.net</a>
            </div>
            <div class="footer__menu__element__info__link">
              <img src="../src/assets/img/phone.png" alt="phone call">
              <a href="tel:+380676714714">+38 (067) 6714714</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="footer__line">
    <span class="footer__captcha">Copyright © 2019 Crystal Logic. All rights reserved.</span>
  </div>
</footer>
